body {
  text-align: center;
}

.App-header {
  background-color: #000;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-ticker {
  font-size: medium;
}

.separator{
  min-height: 20px;
}

.top-app-bar-iframe {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 350px;
  max-height: 350px;
  width: 100%;
}

/*.live-example {*/
/*  display: flex;*/
/*  margin: 0 -3rem;*/
/*  background-color: rgba(0, 0, 100, 0.03);*/
/*  padding: 0.25rem 0;*/
/*}*/

/*.live-example:hover {*/
/*}*/

/*.live-example:hover .live-editor {*/
/*  background: #eaeaef;*/
/*}*/

/*.live-preview {*/
/*  flex: 1;*/
/*  padding: 0.5rem 1rem;*/
/*  align-items: center;*/
/*  display: flex;*/
/*  position: relative;*/
/*  box-sizing: border-box;*/
/*}*/
