:root {
  --mdc-theme-primary: #326de6;
  --mdc-theme-on-primary: #ffffff
}


.table-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.table-wrapper > * {
  flex: 1 100%;
}

.tableColumn {
  table-layout: fixed;
  width: 3000px;
}


.separator{
  min-height: 20px;
}

/*.editIconColor{*/
/*  color: #326de6*/
/*}*/

/*.deleteIconColor{*/
/*  color: #c82333*/
/*}*/
